<<<<<<< Updated upstream





@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amiko:wght@700&family=Black+Ops+One&family=Bricolage+Grotesque&family=Cookie&family=DM+Sans:opsz@9..40&family=Dancing+Script:wght@400;500;600;700&family=Fasthand&family=Judson:wght@700&family=Klee+One:wght@600&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Mooli&family=Noto+Serif&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Satisfy&family=Sigmar+One&family=Sriracha&family=Trocchi&family=Zeyada&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .hero {
        top: 0;
    }

    .lead {
        left: 0;
        top: 40%;
    }

}

body{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 100% !important;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    height:90vh;
    width: 100vw;
    
}
.bg1{
    height:100vh;
    width:100vw;
}

.hero{ 
    position: relative;
    font-family: 'Black Ops One', cursive;
    top:-10px;
}
.back{
    position: relative;
    font-family: 'Aclonica', sans-serif;
}

.lead{
    position: absolute;
    left:40%;
    top:60%;
}
.mainbox{
    position: relative;
    background-image: url("../images/78.jpg");
}

.title{
    position: absolute;
    left:40%;
    top:40%;
   
}

.subtitle{
    left:15%;
    top:5%; 
    position: absolute;
    z-index: 1; /* Place the background behind the card */
}
.direction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:95vw;
    z-index: 2;
}
.card-title{
    font-family: 'Black Ops One', cursive;
}
.card-text{
    font-family: 'Klee One', cursive;
}


.card-box{
    height: 80vh;
    width:100vw;
    position: relative;
}
.about-bg{
    height: 80vh;
    width:100vw;
}
.title5{
    position: absolute; 
    text-align: center;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Black Ops One', cursive;
    font-weight: 200;
}
.text{
    position: absolute; 
    text-align: center;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Klee One', cursive;
}


.boxer{
    position: relative;
    height: 80vh;
    width: 100vw;
}
.createback{
    height: 80vh;
    width: 100vw;
    position: absolute;
}

.create-form{
    position: absolute;
    top: 30%;
    left:55%;
    border: 0px solid black;
}
.type{
    display: flex;
    justify-content: center;
    text-align: center;  
}


.contact-box{
    position: relative;
    height: 90vh;
    width:100vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 
}

.title3{ 
    position: absolute; 
    text-align: center;
    transform: translate(50%, 50%);
    font-family: 'Black Ops One', cursive;
    font-size: larger;   
}

.contact-img{
    position: absolute;
    height: 85vh;
    width:100vw;
    /* opacity: 70%; */
}
.form-box{
    position: absolute;
    font-size: larger;
    font-weight: 600;
    font-family: 'Judson', serif;
    border:0px solid black;
    border-style: hidden;
    width:60vw;
    height: 50vh;
    margin-top: 10%;
    margin-left: 5%;
}
.form{ 
    display: block;
    justify-content:center;
    text-align: center;
    width:30vw;

}

#button{
    display: block;
    justify-content:center;
    text-align: center;
}

.userpost{
   
    position: relative;
}
.user-img{
    position: absolute;
    height: 80vh;
    width:100vw;
}

.user-card{
    position: absolute;
    left:5%;
    top:5%;
    height: 30vh;
    width: 35vw;
}

#card-img{
    position: absolute;
    width: 35vw;
    height: 30vh;
 
}
.input{
    display: block;
    justify-content: left;
    margin-top: 40%;
}

.blog{
    position: relative;
}
.blog-image{
    position: absolute;
    height: 100vh;
    width: 100vw;
}
      
body, h1, h2, p, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
   
}
.title8 {
    position: absolute;
    font-size: 24px;
    left:38%;
     margin-top: 1%;
    font-family: 'Black Ops One', cursive;
    color: white;
}
.type-blog{
    position: absolute;
    left:30%;
    margin-top: 6%;
}

.heading1 {
    border: 0 solid red;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: larger;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    margin-top: 5%; 
}

.user-blog{
    padding: 10px 20px;
    width:50vw;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.blog-button {
    position: absolute;
    left:42%;
    
}

#blog-content {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}  


.footer {
    height: 50px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-top: 1%;
}


.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#userBlogs {
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
=======

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amiko:wght@700&family=Black+Ops+One&family=Bricolage+Grotesque&family=Cookie&family=DM+Sans:opsz@9..40&family=Dancing+Script:wght@400;500;600;700&family=Fasthand&family=Judson:wght@700&family=Klee+One:wght@600&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Mooli&family=Noto+Serif&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Satisfy&family=Sigmar+One&family=Sriracha&family=Trocchi&family=Zeyada&display=swap');

body{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 100% !important;
    margin:0;
    padding:0;
    box-sizing: border-box;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    height:90vh;
    width: 100vw;
    
}
.bg1{
    height:100vh;
    width:100vw;
}

.hero{ 
    position: relative;
    font-family: 'Black Ops One', cursive;
    top:-10px;
}
.back{
    position: relative;
    font-family: 'Aclonica', sans-serif;
}

.lead{
    position: absolute;
    left:40%;
    top:60%;
}
.mainbox{
    position: relative;
}

.title{
    position: absolute;
    left:40%;
    top:40%;
   
}

.subtitle{
    left:15%;
    top:5%; 
    position: absolute;
    z-index: 1; /* Place the background behind the card */
}
.direction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:95vw;
    z-index: 2;
}
.card-title{
    font-family: 'Black Ops One', cursive;
}
.card-text{
    font-family: 'Klee One', cursive;
}


.card-heading{
    text-decoration: none;
    color:black;
}
.card-box{
    height: 80vh;
    width:100vw;
    position: relative;
}
.about-bg{
    height: 80vh;
    width:100vw;
}
.title5{
    position: absolute; 
    text-align: center;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Black Ops One', cursive;
    font-weight: 200;
}
.text{
    position: absolute; 
    text-align: center;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Klee One', cursive;
}
.boxer{
    position: relative;
    height: 80vh;
    width: 100vw;
}
.createback{
    height: 80vh;
    width: 100vw;
    /* opacity: 50%; */
    position: absolute;
}
.create-form{
    position: absolute;
    top: 30%;
    left:55%;
    border: 0px solid black;
}
.type{
    display: flex;
    justify-content: center;
    text-align: center;  
}
.contact-box{
    position: relative;
    height: 90vh;
    width:100vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 
}
.title3{ 
    position: absolute; 
    text-align: center;
    transform: translate(50%, 50%);
    font-family: 'Black Ops One', cursive;
    font-size: larger;   
}
.contact-img{
    position: absolute;
    height: 85vh;
    width:100vw;
  
}
.form-box{
   
    align-items: center;
    position: absolute;
    top:30%;
    left:25%;
}

.form-content{
    text-align: center;
    
}

.input-form{
   width: 20vw;
   border-radius: 8px;
   padding:0.25rem;
}

#button{
    display: block;
    justify-content:center;
    text-align: center;
}

.userpost{
   
    position: relative;
}
.user-img{
    position: absolute;
    height: 80vh;
    width:100vw;
}

.user-card{
    position: absolute;
    left:5%;
    top:5%;
    height: 30vh;
    width: 35vw;
}

#card-img{
    position: absolute;
    width: 35vw;
    height: 30vh;
 
}
.input{
    display: block;
    justify-content: left;
    margin-top: 40%;
}

.blog{
    position: relative;
}
.blog-image{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

body, h1, h2, p, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
   
}
.title8 {
    position: absolute;
    font-size: 24px;
    left:38%;
     margin-top: 1%;
    font-family: 'Black Ops One', cursive;
    color: white;
}
.type-blog{
    position: absolute;
    left:30%;
    margin-top: 6%;
}

.heading1 {
    border: 0 solid red;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: larger;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    margin-top: 5%; 
}

.user-blog{
    padding: 10px 20px;
    width:50vw;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.blog-button {
    position: absolute;
    left:42%;
    
}

#blog-content {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}  


.footer {
    height: 50px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}







>>>>>>> Stashed changes
